RewriteEngine On

# Route /get/abc123 requests to index.php with appropriate parameters
#RewriteRule ^get/([^/]+)/([^/]+)/?$ index.php?mode=get&token=$1&type=$2 [QSA,L]
RewriteRule ^get/([^/]+)(?:/([^/]+))?/?$ index.php?mode=get&token=$1&type=$2 [QSA,L,NC]

# Route /send/abc123/helloworld requests to index.php with appropriate parameters
RewriteRule ^send/([^/]+)/([^/]+)/?$ index.php?mode=send&token=$1&value=$2 [QSA,L,NC]
